<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>DoomsdayClock</title>
    </head>
    <body>
        <h1 style="font-size:100px;color:#cc0000;font-family:Bookman;text-align:center;background-color:#e6e6e6;">DoomsdayClock</h1>
        <hr>
        <h2 style="text-align:center;"><i><q>We all have two lifes. The second one starts when you realize, that you only have one.</q></i></h2>
        <p style="text-align:center;font-size:25px;">Since you've realized it, end your first life.</p>
        <hr>
        <pre style="text-align:center;background-color:#e6e6e6;font-family:Verdana;">Thanks to our great DoomsdayClock you'll be able to know how much time you have on this world.
The most incredible thing is that <strong>it's you who choose THE HOUR.</strong>
Choose wisely.</pre>
        <p id="demo" style="text-align:center;background-color:rgba(255, 99, 71, 0.6);">Our <ins>best</ins> specialists took care your sense of humor is fine while waiting for the end of the world.</p>
        <p style ="text-align:center;font-size:10px;">
        <button type="button" onclick='document.getElementById("demo").innerHTML =
"Our <ins>best</ins> specialists took care your sense of humor is fine while waiting for THE END OF THE F***ING WORLD."'>Turn off cenzorship</button>
        <button type="button" onclick='document.getElementById("demo").innerHTML =
"Our <ins>best</ins> specialists took care your sense of humor is fine while waiting for the end of the world."'>Turn on cenzorship</button>
        </p>
        <br>
        <p>
            <form method="POST" action=/zegar style="text-align:center;">
                <div style="border:2px solid rgba(255, 99, 71, 0.6);text-align:center;background-color:#e6e6e6;font-size:20px" class="form-group">
                    Enter the date of the end of the world:
                    <input type="date" name="edate">
                    Enter the hour of the end of the world:
                    <input type="time" name="etime" step="1">
                </div>
            <input class="button" type="submit" style="font-family:Courier;font-size:50px;border:5px solid rgb(204, 0, 0);background-color:#e6e6e6" value="COUNT DOWN!!!"
        </p>
    </body>
</html>
