<!DOCTYPE html>
<html lang="en">

<body>
<p style="text-align:center;font-size:50px;color:black;font-family:Impact;background-color:#e6e6e6">
R e m a i n e d:</p>
<hr>
<p style="text-align:center;font-size:25px;color:#cc0000;font-family:Verdana;;background-color:#e6e6e6;border:2px solid rgba(255, 99, 71, 0.6)">
{{ years }} years {{ days }} days {{ hours }} hours {{ mins }} minutes {{ secs }} seconds
</p>
<br>
<br>
<p style="text-align:center;">
m i e j s c e
<br>
<br>
n a
<br>
<br> 
g i f a
</body>

</html>