<﻿<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <title>DoomsdayClock</title>
  </head>
  <body>
    <p style="text-align:center;font-size:25px;font-family:Verdana;color:#ffffff;background-color:#a6a6a6;">- - - - - DOOMSDAY WILL COME: {{ edate }} AT {{ etime }}- - - - -</p>
    <hr>
    <div id="zegar"></div> <!--tu wstawia się odlicznik oraz ewentualne gify/filmiki z timer.html, dzieki poniższemu JS-->
    <div id="gif"><div>
    <!--JavaScript pozwalający odświeżać część strony, bez odświeżania całej-->
    <script>

        var lessthanminute = false;
        var lessthanhour = false;
        var lessthanday = false;
        var lessthanyear = false;
        var lessthan7years = false;
        var stop = false;


          //  Funkcja odświeżająca co sekundę timer i wstawiająca zawartość timer.html, gdzie znajduje się odlicznik i ewentualne gify lub filmiki
        function licznik_czasu(){
          var licznik = window.setInterval(() => {
              $.ajax({
                  url:'/timer',
                  data: {
                      edate: '{{edate}}',
                      etime: '{{etime}}'
                  },
                  type: 'POST',
                  success: function(response){
                      document.getElementById("zegar").innerHTML = response;

                      // Wywołuje to skrypt zawarty w timer.html, który został dynamicznie dołączony do struktury strony
                      eval(document.getElementById("zegar").getElementsByTagName("script")[0].innerHTML)
                  },
                  // Wyświetla stosowną informacje, gdy pojawia się błąd wywołany przez 'if sec<=0'(doomsdayclock.py)
                  error: function () {
                      stop = true;
                      document.getElementById("zegar").innerHTML = "DOOMSDAY HAS COME"
                  }
              });
              // Zatrzymuje odświeżanie co sekundę po osiągnięciu czasu końca światta
              if (stop){
                clearInterval(licznik);
              }
          }, 1000);
        }
      licznik_czasu()

    </script>
  </body>
</html>
