<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <title>DoomsdayClock</title>
  </head>
  <body>
    <h1> Koniec świata nastąpi: {{ edate }} o godzine {{ etime }}</h1>
    <div id="zegar"></div> <!---tu jest odlicznik czasu, który jest wstawiany z timer.html i aktualizowany przez js poniżej--->

  <!--skrypt js korzystający z ajax, dzięki czemu możemy przeładować daną część strony bez potrzeby przeładowywania całej, dzięki czemu nasz odlicznik aktualizuje się co sekundę, bez potrzeby przeładowania całej strony-->
  <script>
          window.setInterval(() => {
            $.ajax({
                url:'/timer',
                data: {
                    edate: '{{edate}}',
                    etime: '{{etime}}'
                },
                type: 'POST',
                success: function(response){
                    document.getElementById("zegar").innerHTML = response
                }
            });
            }, 1000);
      </script>
  </body>
</html>
