<html>
  <head>
    <title>DoomsdayClock</title>
  </head>
  <body>
    <h1>DoomsdayClock</h1>
    <h2>Dzięki aplikacji DoomsdayClock dowiesz się ile czasu zostało ludziom na tym marnym łez padole:) Jedyne co musisz uczynić to wpisać datę końca świata!</h2>
    <h3>P S Możesz liczyć na fajne gify i filmiki przy poszczególnych czasach do apokalipsy!!!</h3>
    <p>
      Wpisz datę końca świata:
        <input type="date" name="eday" min="now">
      Wpisz godzinę końca świata:
        <input id= "settime" type="time" step="1">
    </p>

    <button type="submit">Odliczaj!</button>

  </body>
</html>
