<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>DoomsdayClock</title>

    <link rel="stylesheet" href="styles.css">

    </head>
    <body>
        <h1 style="font-size:100px;color:#cc0000;font-family:Bookman;text-align:center;background-color:#e6e6e6;">DoomsdayClock</h1>
        <hr>
        <h2 style="text-align:center;"><i><q>We all have two lifes. The second one starts when you realize, that you only have one.</q></i></h2>
        <p style="text-align:center;font-size:25px;">Since you've realized it, end your first life. <abbr title="The end of the f***ing world">TEOTFW</abbr>!!!</p>
        <hr>
        <pre style="text-align:center;background-color:#e6e6e6;font-family:Verdana;">Thanks to our great DoomsdayClock you'll be able to know how much time you have on this world.
The most incredible thing is that <strong>it's you who choose THE HOUR.</strong>
Choose wisely.</pre>
        <p style="text-align:center;background-color:rgba(255, 99, 71, 0.6);">Our <ins>best</ins> specialists took care your sense of humor is fine while waiting for THE END OF THE F***ING WORLD.</p>
        <br>
        <p>
            <form method="POST" action=/zegar>
                <div style="border:2px solid rgba(255, 99, 71, 0.6);text-align:center;background-color:#e6e6e6" class="form-group">
                    Type the date of the end of the world:
                    <input type="date" name="edate">
                    Type the hour of the end of the world:
                    <input type="time" name="etime" step="1">
                </div>
            <input style="text-align:center" class="btn bt-primary" type="submit" value="COUNT DOWN!!!" <!--może jak stworzę odp klasę i tu umieszczę to zadziała-->
        </p>
    </body>
</html>
